@media (max-width:1619px){
   .navbar{
		margin-left: 40px;
	}
}

@media (max-width:1300px){
}
@media (max-width:1199px){
	.navbar .nav .nav-item {
		margin-right: 28px;
	}
	/* 
	============================================================================================ */
	/* HOME PAGE
	============================================================================================ */
	/* .container-fluid .row {
		padding: 100px 0px;
	} */
	
	.navbar .nav .nav-item.submenu ul {
		left: auto;
		right: -20px;
	}
}

@media (max-width:991px){

    .navbar-brand{
        margin-left: 0px;
        font-weight: bold;
    }
    
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px;
    }
	.navbar {
		background: #fff;
	}
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}
	.navbar-toggler span{
		display: block;
		width: 25px;
		height: 3px;
		background: #1177ee;
		margin: auto;
		margin-bottom: 4px;
		margin-right: 5px;
		transition: all 400ms linear;
		cursor: pointer;
	}
    .navbar .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav{
        padding: 0px 0px;
    }
	
    .navbar .nav .nav-item .nav-link{
        line-height: 40px;
        margin-right: 0px;
        display: block;
		border-bottom: 1px solid #ededed33;
		border-radius: 0px;
    }
    
	.navbar-collapse{
		max-height: 340px;
		overflow-y: scroll;
	}
    .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 15px;
	}
	.navbar .nav .nav-item {
		margin-right: 0px;
	}
	
	.container-fluid{ 
		background-color: #fff;
		height: 600px;
		display: flex;
		flex-direction: column;
	}
    .image{
        height: 250px;
        margin: 0px;
    }

    img {
        margin-top: 0px;
        max-width: 100%;
        height: 100%;
      }
    .caption{
        height: 330px;
    }

	.info{
		margin-top: 20px;
	
	}

    .info> h1{
        font-size: 1em;
        font-weight: bolder;
        text-align: center;
    
    }
    .info> p{
        margin-top: 30px;
        line-height: 2;
		box-shadow: 0px 8px 30px 0px rgba(153, 153, 153, 0.1);
		font-size: 14px;
        font-weight: normal;
        color: grey;
    
    }

    .button-links {
        margin-top: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-between
    }
    
	#blink{
		color: white;
		border-radius: 5px;
		height: 40px;
	}

	#blink a{
		font-size: 12px;
		font-weight: bold;
	} 
    
    .btn{
         margin-right: 5px;
    }

    .footer,#indexfooter{
        margin-top: 5px;
        display: flex;
		font-size: 12px;
        justify-content: center;
		box-shadow: 0px 8px 30px 0px rgba(153, 153, 153, 0.1);

    
    }
      
	
	/* 
	============================================================================================ */
	/* ABOUT PAGE
	============================================================================================ */

.profile{
	height: 1500px;
}

.container{
	display: flex;
	flex-direction: column;

}

.about{
    height: 800px;
   
}

.about-box{
    height: 720px;
    width: 100%;
    line-height: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 30px 0px rgba(153, 153, 153, 0.1);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}


.about-box >h2{
    font-size: 14px;
    font-weight: bold; 
	margin-left: 20px;

       
}

.about-box > h5{
    font-size: 13px;
    text-transform: uppercase;
	font-weight: bold;
	margin-left: 20px;

    
}

.about-box > h6{
    font-size: 15px;
    font-weight: normal;
    line-height: 2;
    margin-left: 20px;
    
    
}
.about-box >p{
    font-size: 15px;
    font-weight: 500;
	margin-left: 20px;
 
    
}

.skills{
    height: 630px;
	margin: 0px;
    
}

.tools_expert {
    margin-top: 0px;
    height: 620px;
    width: 90%;
    box-shadow: 0px 8px 30px 0px rgba(153, 153, 153, 0.1);
}

.tools_expert h2 {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tools_expert .skill_main .skill_item h4 {
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px; 
}

.footer{
    display: flex;
	margin-top: 900px;
}


	/* 
	============================================================================================ */
	/* WEB DEV SERVICE PAGE
	============================================================================================ */

.webd {
	display: flex;
	flex-direction: column;
	height: 1000px;
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/96269ce8-4a07-4702-936a-6860e1b5594f/dd4uw59-840f71b7-5fa0-4d03-9fa5-25844c58b5e3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk2MjY5Y2U4LTRhMDctNDcwMi05MzZhLTY4NjBlMWI1NTk0ZlwvZGQ0dXc1OS04NDBmNzFiNy01ZmEwLTRkMDMtOWZhNS0yNTg0NGM1OGI1ZTMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.W5arZuQJT6sBXLvU9P0mhaweVKA_1v7EJwPL00hMndI");
}
.webd > h1{
	padding-top: 20px;
	font-size: 14px;
	text-align: center; 
	
}

.skill-icon{
    margin-top: 20px;
    height: 300px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}

.skill-icon img{
	height: 300px !important;
}

.skill-services{
    margin-top: 20px;
    height: 600px;
    display: flex;
    justify-content: center;
   
}

.skill-box{
    height: 500px;
    width: 90%;
    line-height: 3;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 30px 0px rgba(153, 153, 153, 0.1);
    font-size: 14px;

}

.skill-services h4{
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    margin-left: 10px;
 
}


.skill-services h5{
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
 
}

.front-end, .back-end{
	margin-top: 20px;
	margin-left: 50px;
	
}
.webdev-links{
    margin-top: 10px;
    
 }

 .hire-btn {
	margin-top:30px ;
	display: inline-block;
    justify-content: space-evenly;
	font-size: 12px;
	line-height: 38px;
	padding: 0 0 0 5px;


 }

 #webfooter{
    display: flex;
	margin-top: 400px;
}

	/* 
	============================================================================================ */
	/* DATA SCIENCE SERVICE PAGE
	============================================================================================ */

.datascie{
	background-image: url("https://lh3.googleusercontent.com/proxy/Rq1EE2J49ceXztsXYBusHOZxEBegBKuQ7Yt2kyiYt2rbz7_zyvNlY058_D0OBuHMJ9R3iFLvUL3KFx3bJA4-HPjQwTdxrvESJJUBVxlggMxpmWQ4cZCPS9feTGK069cCchCdf0vGCA");
	background-size: cover;
	height: 1300px;
	color: #fff;

}

.datascie > h1{
	padding-top: 20px;
	font-size: 14PX;
	text-align: center;
		
}

.data-extra, .data-av{
    margin-top: 10px;
    margin-left: 50px;
    
}


.ds-links{
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
 }

 #dsfooter{
    display: flex;
	margin-top: 570px;
}


	/* 
	============================================================================================ */
	/* DATA SCIENCE SERVICE PAGE
	============================================================================================ */

.cybers{
	background-image: url("https://media.istockphoto.com/vectors/data-protection-privacy-concept-padlock-icon-and-internet-technology-vector-id1173319475?k=6&m=1173319475&s=612x612&w=0&h=31ngWk8kM5QJ5XFke3-oNYErGxJt-b6uVDlFX834h0o=");
	background-size: cover;
	height: 1300px;
	color: #fff;

}

.cybers > h1{
	padding-top: 20px;
	font-size: 1em;
	text-align: center;
		
}

.cyber-abilities, .cyber-tools{
	margin-top: 17px;
	margin-left: 10px;
	
}


	/* 
	============================================================================================ */
	/* WEB DEV PORTFOLIO PAGE
	============================================================================================ */

#wdp{
	height: 1400px;
	background-image: url("https://image.freepik.com/free-vector/light-blue-gradient-simple-background-presentation-banner-studio-wallpaper_138278-72.jpg");
	background-size: cover;

}

#wdp h1{
	text-align: center;
	font-size: 16px;
	padding-top: 50px;
	color:blue;
}
.cards{
	height: 1000px;
	display: flex;
	flex-direction: column;
	margin-top: 200px;
}
	
#portfolio{
    height: 450px;
    width: 90%;
    border: 1px solid grey !important;
    box-shadow: 0px 8px 30px 0px rgba(41, 4, 204, 0.1);

}

/*
============================================================================================ */
/* DATA SCIENCE PORTFOLIO PAGE
============================================================================================ */
#dsp{
    height: 1200px;
    background-image: url("https://image.shutterstock.com/image-vector/cyber-technology-security-network-protection-260nw-1711339984.jpg");
    background-size: cover;
    box-shadow: 0px 8px 30px 0px rgba(74, 51, 173, 0.1);
  
}

#dsp h1{
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    color: #fff;
    
}

/*
============================================================================================ */
/* CYBERSECURITY PORTFOLIO PAGE
============================================================================================ */
#csp{
    height: 1500px;
    background-image: url("https://image.freepik.com/free-vector/abstract-technology-world-cyber-security-privacy-background-information-network_36402-391.jpg");
    background-size: cover;
    box-shadow: 0px 8px 30px 0px rgba(74, 51, 173, 0.1);


    
}

#csp h1{
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    color: #fff;

}


 /*============================================================================================ */
	/*  HIRE ME PAGE
	============================================================================================ */

#hireMe{
	height: 1000px;
	background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-White-Gradient-Background-Image.jpg");
	background-size: cover;
}


#hireMe h1{
	text-align: center;
	font-size: 16px;
	padding-top: 50px;

}

.hireForm{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

#pdetails{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#pdetails input{
    font-size: 13px;
	margin-left:40px;
	margin-bottom: 10px;
}

.col-2 input{
	width: 300px !important;
}

label{
    margin-bottom: 10px;
	width:350px ;
	margin-left: 40px;
}


#projdetails{
    display: flex;
    flex-direction: column;
    font-size: 14px;
	width: 100%;
}

#projdetails h2{
    font-size: 14px;
    margin-top: 20px;
}

.col-3, #col{
	width: 350px !important;
}

#col > label{
	width: 350px !important;
	margin-left: 10px !important;
}

.col-4{
    margin-top: 20px;
    font-size: 14px !important;
    font-weight: bold;
}

.custom-file{
	box-shadow: 0px 8px 30px 0px rgba(74, 51, 173, 0.1);

}

.custom-file input{
	margin: 20px;


}

.custom-file label{
	display: none;

}

.col-4{
    margin: 30px !important;
    font-size: 14px !important;
    font-weight: bold;
}
 #hirefooter{
	 margin-top: 400px;
 }




/*============================================================================================ */
	/*  CONTACT ME PAGE
	============================================================================================ */

#contactMe{
	height: 1200px;
	background-image: url("https://www.ppt-backgrounds.net/thumbs/light-blue-template-powerpoint.jpeg");
	background-size: cover;
}
	

#contactMe h1{
	text-align: center;
	font-size: 16px;
	padding-top: 50px;
	color: black;

}

.contact-box{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.col-5 {
    height: 400px !important;
    display: flex;
}


.col-5 h2{
    font-size: 18px;
    color: blue;
	text-align: center;
}


#contact{
   width: 100%;
}
.contact-details{
    margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex; 
	width: 100%;  
	box-shadow: 0px 8px 30px 0px rgba(74, 51, 173, 0.1);
 

}

#contactform {
    margin-top: 10px;
    width: 90%;
    color: black;
	
} 

#contactform label{
	margin: 0px;
}


#contactfooter{
	margin-top: 300px;
}

}